@model ASM_ManageTrainingProgramSystem.ViewModels.TrainerCoursesViewModel
@{
    ViewBag.Title = "AssignCourse";
}

<h2>Assign Course</h2>

@using (Html.BeginForm("AssignCourse", "TrainerProfiles", FormMethod.Post))
{
    <div class="form-group">
        Course name:
        @Html.HiddenFor(t => t.UserId)
        @Html.DropDownListFor(t => t.CourseId,
                            new SelectList(Model.Courses, "Id", "CourseName"),
                            new {@class = "form-control"}
                            )
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Assign</button>
    </div>
}